<div class="container container_5">

<div class="grid_2">

<h1 class="logo">SproutTV</h1>
<h2 class="schedule-header">On Tonight</h2>
{{#collection "Tv.ScheduleView" class="schedule" itemClass="schedule-item"}}
    <span class="schedule-time">{{content.time}}</span>
    <div class="schedule-info">
        <h3 class="schedule-title">{{content.title}}</h3>
        <p class="schedule-blurb">{{content.blurb}}</p>
    </div>
{{/collection}}
</div>
<div class="grid_3 featured">
    <h1 class="feature-header">Featured Video</h1>
    {{view "Tv.VideoPlayer" videoUrl="http://www.archive.org/download/superman_the_mechanical_monsters/superman_the_mechanical_monsters_512kb.mp4" previewUrl="http://www.archive.org/download/superman_the_mechanical_monsters/superman_the_mechanical_monsters.gif"}}
</div>
<div class='clear'>&nbsp;</div>

<div class='grid_5 separator'><h2>LATEST VIDEOS</h2></div>

<div class='clear'>&nbsp;</div>

<div id="playlist">
{{#collection "Tv.VideoListView" class="video-list" itemClass="video-item"}}
    <div class='grid_2 centered'>
        {{view "Tv.VideoPlayer" videoUrl=content.url previewUrl=content.previewUrl}}
    </div>
    <div class='grid_3'>
        <h2 class="video-title">{{content.title}}</h2>
        <p class="video-description">{{content.description}}</p>
    </div>
    <div class='clear'>&nbsp;</div>
{{/collection}}
</div>
</div>
